<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codechacha.autosizingtextviews">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DefaultActivity"
            android:label="Default"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".GranualarityActivity"
            android:label="Granualarity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PresetActivity"
            android:label="Preset Sizes"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".JavaActivity"
            android:label="Java"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>